# Motivational Coach pre-test evaluation Checklist

Testing date: 9 July 2025
Tester: Shinchuan Chen
Goal: To see whether the function has worked properly.

## Authentication

### Can user sign up with a new email and password?

### Can application detect duplicate emails and reject when sign-up?

### Can user log-in correctly when provided correct email and password?

### Can application prevent user login when user providing wrong password or email?

## Goal Setting

### Does the user get redirected to goal setting page after user sign-up?

### Can user input exactly 2 goals?

### Does the user redirected to the main index page after setting goals.
